*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
}
